GEMINI_API_KEY=
OPENAI_API_KEY=
DEEPSEEK_API_KEY=
NO_OF_MAX_RETRIES=
BASE_DATASET_PATH=
BASE_DIR_PYTHON_FILES=
PREVIOUS_RUN_LOG_PATH=
PROJECT_ROOT_DIR=
MODEL_NAME_FOR_FINETUNING=
DATASET_PATH_FOR_FINETUNING=
MAX_EXAMPLE_RUNTIME_MIN=
#check provider.py for OPEN_LLM_MODELS IDX
ROOT_FOR_FILES=
BASE_DIR_PYTHON_FILES_PYLINGUAL=
BASE_DIR_PYTHON_FILES_PYPI=
BASE_DATASET_NAME=

DELETE_ONLY_INFINITE_ITERS=
LOCAL_LLM_IDX=
DELETE_ONLY_MODE=
ENABLE_DELETE_ONLY_FALLBACK=
DELETE_ONLY_MAX_ITERS=
DELETE_ONLY_BASE_WINDOW=
DELETE_ONLY_MAX_DELETED_RATIO=

MAX_WHOLE_FILE_BYTES=1048576
CONFIG_IDX_START=
CONFIG_IDX_RANGE=
USE_LOCAL_LLM=True